<div class="container px-3 my-5 clearfix">
  <!-- Cabinet card -->
  <div class="card">
    <div class="card-header">
      <h2>Cabinet</h2>
    </div>

    <!-- Personal info -->
    <ng-container *ngIf="userInfo$ | async as userInfo">
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <h4>Personal Info</h4>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="min-width: 100px;">First Name</th>
                <th style="min-width: 100px;">Last Name</th>
                <th style="min-width: 100px;">Email</th>
                <th style="width: 150px;">Delivery Info</th>
                <th style="width: 120px;">Balance</th>
              </tr>
              </thead>
              <tbody>
              <tr [formGroup]="formUserUpdate">
                <td>
                  <input type="text" class="form-control" value="{{ userInfo?.firstName }}" formControlName="firstName">
                </td>
                <td>
                  <input type="text" class="form-control" value="{{ userInfo?.lastName }}" formControlName="lastName">
                </td>
                <td>
                  <input type="text" class="form-control" value="{{ userInfo?.email }}" formControlName="email">
                </td>
                <td>
                  <input type="text" class="form-control" value="{{ userInfo?.deliveryInfo }}" formControlName="deliveryInfo">
                </td>
                <td>
                  <input type="text" class="form-control" value="{{ userInfo?.balance }}" formControlName="balance">
                </td>
              </tr>
              </tbody>
            </table>

            <!-- Update button -->
            <div class="button mt-4 text-end">
              <button type="submit" class="btn btn-primary" (click)="updateUserData()" *ngIf="formUserUpdate.valid">
                Update Info
              </button>
              <button type="submit" class="btn btn-primary" disabled *ngIf="!formUserUpdate.valid">Update Info</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Orders info -->
    <ng-container *ngIf="ordersInfo$ | async as orders">
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            <h4>Orders</h4>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="min-width: 100px;">Order ID</th>
                <th style="min-width: 100px;">Date</th>
                <th style="min-width: 100px;">Total Sum, UAH</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.totalOrderSum }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
